/********** HEADER ***********/
#header > .navbar {
    background-color: var(--color-3) !important;
    &::after{
        
            content: "";
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1px;
    }
}

.navbar-nav .nav-item {
    font-weight: 500;
}

html{
    scroll-behavior: smooth;
}

#logo-codando-header {
    width: 54px;
}

#header .list-navigation {
    align-items: center;
}

#header .navbar-nav .link-menu {
    color: var(--color-4);
    margin: 0 0.8rem;
    font-family: var(--font-1);
    text-transform: uppercase;
    &:hover{
        color: var(--color-1);
        transition: all 0.3s ease-out;
        text-decoration: underline;
    }
}

/******** BACKGROUND *********/
.background{
    height: 100vh;
    background-size: cover !important;
    background-position: center !important;
}
