@import "../../../sass/abstracts/variables";
@import "../../../sass/components/blur";

#expanded-navbarmobile {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
}

@media (min-width: 1280px) {
    #navbarMobile {
        display: none;
    }
    #navbarDesktop {
        z-index: 100;
        position: fixed;
        width: 200vh;
        background: $color_darkBlue;
        backdrop-filter: blur(10px);
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 10fr;
        column-gap: 1vh;
        align-items: center;
        justify-content: center;
        float: left;

        #divider{
            border-right: 1px solid $color_white;
            width: 5px ;
            height: 20px;
            padding-top: 5px;
        }

        // a:hover, a.active {
        //     border-bottom: $color_yellow solid 2px;
        // }

        a {
            text-decoration: none;
            color: $color_white;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 1px;
            text-align: center;
            position: flex;
            padding-right: 0px;
            border-bottom: transparent solid 2px;

            img {
                padding-left: 20px;
                padding-top: 5px;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    #navbarDesktop {
        display: none;
    }

    #navbarMobile {
        position: fixed;
        z-index: 100;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        padding-top: 5px;
        padding-left: 10px;

        nav {
            ul {
                z-index: 10000;
                position: fixed;
                width: 100%;
                height: 100vh;
                right: -100%;
                text-align: right;
                position: fixed;
                transition: all 0.5s;
                display: flex;
                flex-direction: column;
                justify-content: right;
                align-items: flex-end;

                #listas {
                    padding-top: 25vh;
                }

                li {
                    display: block;
                    font-size: 25px;
                    margin: 30px 0px;
                    line-height: 50px;

                    a {
                        text-decoration: none;
                        color: $color_white;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        line-height: 23px;
                        letter-spacing: 1px;
                        margin-right: 20px;
                    }

                    a:hover,a.active{
                        border-bottom: $color_white solid 2px;
                    }
                }
            }
        }

        #check:checked ~ ul {
            right: 0;
        }

         #check:checked ~ .checkbtn {
            display: none;
        }

         #check:checked ~ .logo {
            display: none;
        }

        #checkbtnimg::after {
            background: url(../../../assets/Logo.svg);
        }

        #check {
            display: none;
        }
        .checkbtn {
            display: block;
            float: right;
            margin-right: 10px;
            padding-top: 10px;

            #checkbtnclose {
                display: none;
            }

            #checkbtnimg {
                width: 25px;
            }
        }

        .checkbtn-close {
            display: block;
            float: right;
            margin-right: 5px;
            padding-top: 5px;
            z-index: 1001;
            .checkbtn-closeimg{
                width: 54.34px;
                height: 54.34px;
            }
        }

        .logo-expanded {
            display: block;
            float: left;
            margin-right: 10px;
            padding-top: 10px;
            z-index: 1001;
            padding-top: 5px;
            padding-left: 10px;
        }
    }
}

@media (max-width: 768px) {
    #navbarDesktop {
        display: none;
    }

    #logo{
        display: block;
    }

    #navbarMobile {
        position: fixed;
        z-index: 100;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        padding-top: 5px;
        padding-left: 10px;

        nav {
            ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                right: -100%;
                text-align: right;
                transition: all 0.5s;
                display: flex;
                flex-direction: column;
                justify-content: space-around;


                #listas{
                    padding-top: 25vh;
                }

                li {
                    display: block;
                    font-size: 25px;
                    margin: 30px 0px;
                    line-height: 50px;

                    a {
                        text-decoration: none;
                        color: $color_white;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        line-height: 23px;
                        letter-spacing: 1px;
                        margin-right: 20px;
                    }

                    // a:hover, a.active {
                    //     border-bottom: $color_yellow solid 2px;
                    // }
                }
            }
        }

        #check:checked ~ ul {
            right: 0;
        }
        #check:checked ~ .checkbtn {
            display: none;
        }

        #check {
            display: none;
        }
        .checkbtn {
            display: block;
            float: right;
            margin-right: 10px;
            padding-top: 10px;
            z-index: 1001;
            #checkbtnimg {
                width: 25px;
            }
        }

        .checkbtn-close {
            display: block;
            float: right;
            margin-right: 5px;
            padding-top: 5px;
            z-index: 1001;
            .checkbtn-closeimg{
                width: 54.34px;
                height: 54.34px;
            }
        }

        .logo-expanded {
            display: block;
            float: left;
            margin-right: 10px;
            padding-top: 10px;
            z-index: 1001;
            padding-top: 5px;
            padding-left: 10px;
        }
    }
}
