<div id="navbarDesktop">
        <a id="logo">
            <img src="../../../assets/Logo.svg">
        </a>
    <div id="divider"></div>

    <a href="">QUEM SOMOS</a>
    <a href="">PILARES</a>
    <a href="">CODY</a>
    <a href="">EVENTOS</a>
    <a href="">FAQ</a>

</div>

<div id="navbarMobile">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img src="../../../assets/bars-solid.svg"  id="checkbtnimg">
            <img src="../../../assets/close_24px.svg"  id="checkbtnclose">
        </label>
        <a href="">
            <img src="../../../assets/Logo.svg">
        </a>
        <ul>
                <li><a href="#">QUEM SOMOS</a></li>
                <li><a href="#">PILARES</a></li>
                <li><a href="#">CODY</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">FAQ</a></li>
        </ul>
    </nav>

</div>
