<div id="pag-pilares-background">
  <h1>Nossos pilares</h1>

  <div id="pag-pilares">
    <img id="blob-desktop-top" src="../../../assets/blob-desktop-top.svg" alt="Imagem de fundo colorida">

    <div class="grid-principle align-left-to-right">
      <h1>Ousadia</h1>
      <h2>
        Saber inovar e se reinventar a cada dia, e não ter medo de se aventurar
        em uma nova tecnologia, emprego ou até mesmo em uma nova comunidade. E
        apesar de toda dificuldade, não desistir. Viva um bug de cada vez!
      </h2>
      <img
        src="../../../assets/ousadia.svg"
        alt="Imagem para representar a ousadia"
      />
    </div>

    <div class="grid-principle align-right-to-left">
      <h1>Aprendizado</h1>
      <h2>
        Estar sempre disposto para aprender e conhecer, afinal no mundo da
        tecnologia somos eternos aprendizes. Buscar sempre ir além e reconhecer
        que não sabe de tudo. Seja o parâmetro para sua própria função
        recursiva!
      </h2>
      <img
        src="../../../assets/aprendizado.svg"
        alt="Imagem para representar o aprendizado"
      />
    </div>

    <div class="grid-principle align-left-to-right">
      <h1>Compartilhar</h1>
      <h2>
        Estar sempre compartilhando conhecimento, experiências e assim ajudar a
        comunidade crescer. Quando você ensina, você aprende!
      </h2>
      <img
        src="../../../assets/compartilhar.svg"
        alt="Imagem para representar o compartilhamento"
      />
    </div>

    <img id="blob-desktop-bottom" src="../../../assets/blob-desktop-bottom.svg" alt="Imagem de fundo colorida">
  </div>
</div>
