<div id="pag-pilares-background">

  <div id="pag-pilares">

    <h1><span id="nossos-pilares"> Nossos pilares </span></h1>

    <img id="blob-desktop-top" src="../../../assets/blob-desktop-top.svg" alt="Imagem de fundo colorida">

    <h1 id="h1-ousadia" > Ousadia </h1>

    <h2 id="h2-ousadia"> Saber inovar e se reinventar a cada dia, e não ter medo de se aventurar em uma nova tecnologia, emprego ou até mesmo em uma nova comunidade. E apesar de toda dificuldade, não desistir. Viva um bug de cada vez! </h2>

    <img id="img-ousadia" src="../../../assets/ousadia.svg" alt="Imagem para representar a ousadia">

    <h1 id="h1-aprendizado"> Aprendizado </h1>

    <h2 id="h2-aprendizado"> Estar sempre disposto para aprender e conhecer, afinal no mundo da tecnologia somos eternos aprendizes. Buscar sempre ir além e reconhecer que não sabe de tudo. Seja o parâmetro para sua própria função recursiva! </h2>
    
    <img id="img-aprendizado" src="../../../assets/aprendizado.svg" alt="Imagem para representar o aprendizado">

    <h1 id="h1-compartilhar"> Compartilhar </h1>

    <h2 id="h2-compartilhar"> Estar sempre compartilhando conhecimento, experiências e assim ajudar a comunidade crescer. Quando você ensina, você aprende! </h2>
    
    <img id="img-compartilhar" src="../../../assets/compartilhar.svg" alt="Imagem para representar o compartilhamento">

    <img id="blob-desktop-bottom" src="../../../assets/blob-desktop-bottom.svg" alt="Imagem de fundo colorida">

  </div>

</div>
