<ng-container *ngIf="mostrar">
  <div class="modal">
    <img
      src="../../../assets/exit.svg"
      (click)="toggle()"
      class="exitbtn"
      alt="Botão de fechar os avisos"
    />
    <h1>Avisos</h1>

    <div class="card" *ngFor="let card of data">
      <p>{{ card.text }}</p>
      <a
        *ngIf="card.button_text !== ''"
        href="{{ card.button_link }}"
        target="_blank"
      >
        <button>{{ card.button_text }}</button>
      </a>
    </div>
  </div>
  <div class="overlay blur"></div>
</ng-container>
