@import "../../../sass/abstracts/variables";
@import "../../../sass/components/blur";

.modal {
  h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-top: 5%;
  }

  .exitbtn {
    position: fixed;
    right: 0;
    padding-right: 15px;
    cursor: pointer;
    width: 40px;
  }

  color: $color_white;
  min-width: 100%;
  position: fixed;
  top: 2%;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 11000;
}

.card {
  background: $color_white;
  border-radius: 3px;
  box-shadow: 0 2px 8px #333;
  color: black;
  width: 300px;
  min-width: 10%;
  height: auto;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-size: large;

  p {
    font-family: "Montserrat", sans-serif;
    width: auto;
    text-align: center;
    font-weight: bold;
    color: $color_darkBlue;
  }

  button {
    width: 100%;
    text-decoration: none;
    background-color: $color_pink;
    color: $color_white;
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
}
