#pag-about-background {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2em;
  }
  
  #pag-about {
    width: 80%;
    margin: auto;
  }
  
  #titulo-codando {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.175em;
    line-height: 44px;
    color: #141648;
    margin-bottom: 50px;
  }


  #about-position {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5em;
  }

  /* implementar 
  #about-pelicula {
    position: absolute;
    background-color: black;
    left: 15em;
    opacity: 0.5;
    width: 30%;
    height: 70%;
  }
    */
  
  #img-about {
    width: 50%;
    height: 100%;
  }
  
  #about-descricao {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.175em;
    height: 100%;
    color: #141648;
  }

/* Estilos responsivos para telas menores que 1200px */
@media (max-width:1200px) {
#about-descricao, #about-pelicula, #about-position {
    width: 100%;
    flex-direction: column;
    gap: 1em;
  }

  #img-about {
    width: 75%;
    height: 100%;
    margin-left: 3em;
  }

} 

@media(max-width: 452px) {
  #img-about {
    width: 100%;
    height: 100%;
    margin-left: 0;

  }
}
