#pag-about-background {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2em;
}

#pag-about {
    width: 80%;
    margin: auto;
}

#titulo-codando {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.175em;
    line-height: 44px;
    color: #141648;
    margin-bottom: 50px;
}

#about-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    position: relative;
}

#about-pelicula {
    position: relative;
    width: 50%;
}

#img-about {
    width: 100%;
    height: 100%;
    display: block;
}

.pelicula {
    position: absolute;
    top: -4%;
    left: 10%;
    width: 80%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    pointer-events: none; /* Permite clicar na imagem através da película */
}

#about-descricao {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.175em;
    color: #141648;
    flex: 1;
}

/* Estilos responsivos para telas menores que 1200px */
@media (max-width: 1200px) {
    #about-position {
        flex-direction: column;
        gap: 1em;
    }

    #about-pelicula {
        width: 100%;
    }

    #img-about {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 452px) {
    #img-about {
        width: 100%;
        height: auto;
    }
}
