@import "../../../sass/abstracts/variables";

#pag-redes-background{
  min-height: 100vh;
  background-color: $color_darkBlue;
}

#pag-redes{
  align-content: center;
  text-align: center;
  #blob-desktop{
    height: 802px;
  }
  #blob-mobile-tablet{
    height: 601.15px;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: $color_yellow;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $color_white;
    #hand{
      content: url(../../../assets/hand.svg);
    }
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $color_white;
  }
  #pag-redes-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
    a{
      cursor: pointer;
    }
  }
  #saiba-mais-btn{
    height: 58px;
    background-color: $color_navyBlue;
    border: none;
    box-shadow: 1px 1px #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: lowercase;
    color: $color_white;
    cursor: pointer;
    #arrow{
      content: url(../../../assets/arrow.svg);
      position: absolute; 
      left: calc(50% - 12px/2);
    }
  }
}

// Mobile
@media(max-width: 768px){
  #pag-redes{
    #blob-desktop{
      display: none;
    }
    #blob-mobile-tablet{
      max-width: 100%;
      position: absolute;
      top: 5rem;
      left: 0;
    }
    h1{
      position: relative;
      top: 12rem;
      font-size: 30.1064px;
      line-height: 37px;
      letter-spacing: 0.470412rem;
    }
    h2{
      position: relative;
      top: 12rem;
      font-size: 11.2899px;
      line-height: 14px;
      letter-spacing: 0.175rem;
      #hand{
        height: 25.87px;
        position: relative;
        top: 0.5rem;
      }
    }
    h3{
      position: relative;
      top: 22rem;
      font-size: 24.9154px;
      line-height: 30px;
      letter-spacing: 0.07rem;
    }
    #pag-redes-btns{
      gap: 1%;
      position: relative;
      top: 23rem;
      img{
        max-width: 80%;
      }
    }
    #saiba-mais-btn{
      width: 272px;
      border-radius: 30px;
      position: absolute;
      left: calc(50% - 272px/2);
      bottom: 50px;
      font-size: 20.1905px;
      line-height: 25px;
      #arrow{
        position: absolute;
        top: 45px;
        left: calc(50% - 12px/2);
      }
    }
  }
}

// Tablet
@media(min-width: 769px) and (max-width: 1279px){
  #pag-redes{
    #blob-desktop{
      display: none;
    }
    #blob-mobile-tablet{
      max-width: 100%;
      position: absolute;
      top: 5rem;
      left: 0;
    }
    h1{
      position: relative;
      top: 12rem;
      font-size: 30.1064px;
      line-height: 37px;
      letter-spacing: 0.470412rem;
    }
    h2{
      position: relative;
      top: 12rem;
      font-size: 11.2899px;
      line-height: 14px;
      letter-spacing: 0.175rem;
      #hand{
        height: 25.87px;
        position: relative;
        top: 0.5rem;
      }
    }
    h3{
      position: relative;
      top: 22rem;
      font-size: 24.9154px;
      line-height: 30px;
      letter-spacing: 0.07rem;
    }
    #pag-redes-btns{
      gap: 1%;
      position: relative;
      top: 23rem;
      img{
        max-width: 80%;
      }
    }
    #saiba-mais-btn{
      width: 272px;
      border-radius: 30px;
      position: absolute;
      left: calc(50% - 272px/2);
      bottom: 50px;
      font-size: 20.1905px;
      line-height: 25px;
      #arrow{
        position: absolute;
        top: 45px;
        left: calc(50% - 12px/2);
      }
    }
  }
}

// Desktop
@media(min-width: 1280px){
  #pag-redes{
    #blob-desktop{
      height: 650px;
      max-width: 100%;
      position: absolute;
      top: 7rem;
      left: 0;
    }
    #blob-mobile-tablet{
      display: none;
    }
    h1{
      position: relative;
      top: 10rem;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: 1px;
    }
    h2{
      position: relative;
      top: 10rem;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.175em;
      #hand{
        position: relative;
        top: 1.4rem;
      }
    }
    h3{
      position: relative;
      top: 18rem;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.07em;
    }
    #pag-redes-btns{
      position: relative;
      top: 20rem;
      img{
        max-width: 100%;
      }
    }
    #saiba-mais-btn{
      width: 272px;
      border-radius: 30px;
      position: absolute;
      left: calc(50% - 272px/2);
      bottom: 50px;
      font-size: 30px;
      line-height: 37px;

      #arrow{
        position: absolute;
        top: 45px;
        left: calc(50% - 12px/2);
      }
    }
  }
}
