<div id="pag-redes-background">

  <div id="pag-redes">

    <img id="blob-desktop" src="../../../assets/blob-desktop.svg" alt="Imagem de fundo colorida">

    <img id="blob-mobile-tablet" src="../../../assets/blob-mobile-tablet.svg" alt="Imagem de fundo colorida">

    <h1> Codando Community </h1>

    <h2> May the community be with you <span id="hand"></span></h2>

    <h3> Nossas redes </h3>

    <div id="pag-redes-btns">
      <a href="https://discord.com/invite/PaHecYR" target="_blank">
        <img src="../../../assets/social-discord.svg" alt="Nosso Discord">
      </a>
      <a href="https://www.instagram.com/codando.community/" target="_blank">
        <img src="../../../assets/social-instagram.svg" alt="Nosso Instagram">
      </a>
      <a href="https://www.youtube.com/channel/UCadttXUVNJwjo-q70lmweyA" target="_blank">
        <img src="../../../assets/social-youtube.svg" alt="Nosso Youtube">
      </a>
      <a href="https://www.linkedin.com/company/codando-community/" target="_blank">
        <img src="../../../assets/social-linkedin.svg" alt="Nosso LinkedIn">
      </a>
      <a href="https://codando-community.medium.com/" target="_blank">
        <img src="../../../assets/social-medium.svg" alt="Nosso Medium">
      </a>
    </div>

    <!-- <button id=saiba-mais-btn>Saiba mais<span id="arrow"></span></button> -->
  </div>
</div>
