body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-9);
  color: var(--color-4);
}

main {
  padding-top: 76px; /*padding de correção para header*/
  min-height: 100vh;
  width: 100%;
}

@media (max-width:1100px) {
  .logo-codando.justify-content-end {
    justify-content: center !important;
  }

  .codando.justify-content-center {
    justify-content: flex-start !important;
  }

  .box-logos-contato.d-flex {
    flex-direction: column;
  }

  #logo-codando {
    width: 50px;
  }

  .logos-contato {
    width: 50px;
  }
}

@media (max-width:610px) {
  .footer-box.row {
    flex-direction: column;
  }

  .box-logos-contato.d-flex {
    flex-direction: row;
  }

  .box-logos-contato.justify-content-start {
    justify-content: center !important;
  }
}

@media (max-width:425px) {
  #footer-codando, #footer-community {
    font-size: 46px;
    padding-block: 10px;
  }
}

/* conteudo principal */

.opt-itens, .box-questions, .questions {
  border: 2px solid white; /*remover dps*/
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-contact {
  border: 2px solid white; /*remover dps*/
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box-contact .contact {
  width: 100%;
  min-height: 100px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.opt-itens, .questions {
  border: 2px solid red; /*remover dps*/
  width: 100%;
  height: 100%;
}

.box-email-contact ,.box-discord-contact {
  border: 2px solid white; /*remover dps*/
}