<div id="pag-cody-background">
  <div id="pag-cody">
    <h1> Cody </h1>

    <div class="grid-cody align-left-to-right align-middle">
      <p> 
        <span id="title"> O que falar do nosso bot assistente? </span> 
        <br>
        <br>
        Presente em nosso servidor do discord e aqui mesmo nesse site, ele surgiu com o intuito de facilitar e automatizar os processos realizados como autenticação ou liberar um cargo específico, além de esclarecer as mais diversas dúvidas e ajudar a manter o ambiente seguro e saudável.
      </p>
      <img id="img-cody" src="../../../assets/cody.svg" alt="Imagem sobre o Cody">
    </div>
  </div>
</div>
