
<nav>
	<div id="image-slider" class="splide">
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
