
<nav>
	<div id="image-slider" class="splide">
		<div class="splide__arrows">
			<button class="splide__arrow splide__arrow--prev">
				<div class="arrows prev"> <img src="../../../assets/arrow-left-solid.svg"></div>
			</button>
			<button class="splide__arrow splide__arrow--next">
				<div class="arrows next"><img src="../../../assets/arrow-right-solid.svg"></div>
			</button>
  		</div>
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="#"><img src="../../../assets/compartilhar.svg"></a>
					<div class="informacoes">
						<span>Nome do Evento</span>
						<p>2021</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
