@import "../../../sass/abstracts/variables";


.splide__slide{
  border: 3px solid white;
  border-radius: 40px;
  background: #fff;
  margin-bottom: 200px;
  padding-right: 10px;
  
}

.splide__slide img {
  width: 300px;
  height: 300px;
  padding-left: 20px;
  
  
}
.informacoes{
  margin-bottom: 10%;
  background-color: aqua;
  
}

p{
float: right;
color: black;
padding-right: 20px;
padding-top: 10px;
font-size: small;
font-weight: 200;
}

span{
  float: left;
  color: black;
  padding-left: 20px;
  font-family: "Montserrat" , sans-serif;
  font-weight: 500;
}
nav{
  background: $color_darkBlue;
}

.arrows{
   width: 28px;
   height: 28px;
   color: $color_navyBlue;
   position: absolute;
   top: -250%;
   margin-top: -31px;
}
.prev{
   left: 40px;
}
   
.next{
   right: 40px;
}