.carousel-inner img {
    margin-top: 5%;
    height: 240px;
}

body  {
    background: url(../img/events.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title p {
    color: #D13C74;
    font-weight: bold;
    text-align: center;
}

.title p:first-child {
    margin-top: 4%;
}

.title p:last-child {
    margin-bottom: 0;
}

.bottom {
    margin-top: 4%;
    text-align: center;
    color: #24276D;
    font-weight: bold;    
}
