#events .carousel-inner img {
    margin-top: 5%;
    height: 240px;
}

#events  {
    background-color: var(--color-4);

    background: url(../img/bg-nossos-eventos.svg);
}

#events .title h2, #events .title h3 {
    color: #D13C74;
    font-weight: bold;
    text-align: center;
}

#events .title h2 {
    margin-top: 5%;
    margin-bottom: 2%;
}

#events .title h3 {
    margin-bottom: 0;
}

#events .bottom {
    margin-top: 4%;
    margin-bottom: 3%;
    text-align: center;
    color: #24276D;
    font-weight: bold;    
}
