/* root */
:root {
    --color-1: #FFC42E;
    --color-2: #D13C74;
    --color-3: #141648;
    --color-4: #f9f9f9;
    --color-5: #2b2b2b;
    --color-6: #2d2d2d;
    --color-7: #e7e9f0;
    --color-8: #48dbdb;
    --color-9: #24276d;
    --font-1: 'Montserrat', sans-serif;
}
/* fim root */

/**** scrollbar color ****/
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-1);
}
body::-webkit-scrollbar-track {
  background: var(--color-2);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-1) ;
  border-radius: 6px;
  border: 3px solid var(--color-1);
}

/* ========== geral ============ */
html {
    font-size: 62,5% /* 10px */;
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-1);
    color: var(--color-4);
    
}
/* fim geral */

.content {
    width: 100%;
    margin: 0 auto;
}

.scrollbutton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../img/chevron-up-solid.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-2);
    opacity: .8;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    z-index: 9999;
    cursor: pointer;
}

.alerta{
  position: fixed !important;
  bottom: 0;
  z-index: 999;
  background-color:rgba(255, 255, 255, 0.54) !important;
  backdrop-filter: blur(3px);
}

.sair{
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

.inscricao{
  font-style: none;
  background-color: #3ace66;
  border: none;
  border-radius: 5px;
}

.inscricao a:link {
  font-style: none;
  color: var(--color-4);
}

.inscricao a:visited {
  font-style: none;
  color: var(--color-4);
}