
/*Pilares*/
.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
    box-shadow: 0.4em 1em 1em var(--color-6);
}

#pilares.background {
    background-color: var(--color-4);
    background: url(../img/bg-nossos-pilares.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#pilares div{
    z-index: 2;
}

#pilares > div > h1{
    text-align: center;
    color: var(--color-2);
}

#pilares .container {
    height: 100vh;
}

#pilares > img{
    z-index: 1;
    position: absolute;
    margin-top: 15%;
    right: -12%;
}

#pilares > div .card-header{
    text-align: center;
    color: var(--color-9);
}

#pilares h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 767px) {
    #pilares.background {
        height: 100vh;
    }

    #pilares h1 {
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }
}